* {
  margin: 0px;
  background-color: rgb(186, 224, 241);
}

.NavigateDiv{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 10%; */
  padding: 0.2rem, auto;
}

/* Nav Background Color */
.NavigateDiv, .NavUl, .NavLi, a {
  background-color:rgb(233, 228, 228);
}

.NavUl {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding: 10px;
  
  
}


.NavLi {
  display: inline-block;
  justify-content:space-around;
  margin: 1rem;
}

.NavLi:hover {
  --translate-y: -5px;
  box-shadow: 0 0 5px 2px rgba(7, 7, 7, 0.6);
  transition: 600ms;
}

a {
  color:rgb(44, 29, 182);
  margin: 1rem, auto;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  
}
.AllNavText {
  display: grid;
  margin-left: 3rem;
  margin-top: 5rem;
  width: 400px;
  color:rgb(114, 106, 236);
  border: 2px solid gold;
  border-width: 0.2rem;
  
  /* border-color:royalblue; */
}

.HomeDivContainer{
  display: grid;
  /* margin-right: 0.2rem; */
  background-color: rgb(233, 187, 96);
  border: 0px solid white;
  max-width: 1200px;
  /* margin-top: 10rem; */
  /* margin-left: 0.2rem; */
  height: 845px;
  margin: auto;
}

/* .p-text {
  color: blue;
  margin-top: 15rem;
  margin: auto;
  width: 100%;
  
} */

.Div2Home {
  display: grid;
  border: 2px solid rgb(252, 252, 250);
  height: 220px;
  width: 220px;
  margin: auto;
  margin-top: 14rem;
  margin-bottom: 80px;
  border-radius: 12rem;
  background-color: white;
}

.image-pic {
  /* position: relative; */
  width: 220px;
  height: 220px;
  border-radius: 12rem;
}


.RightDivHome {
  display:inline-block;
  border: 0px solid blue;
  width: 50px;
  height: 120px;
  margin-top: -320px;
  padding: 7px;
  background-color: rgb(253, 252, 252);
  margin-left: 295px;
}

.LinkDiv {
  border: 0px solid green;
  margin-bottom: 30px;
  height: 40px;
  width: 40px;
  background-color: rgb(253, 252, 252);
  cursor: pointer;
}

.GitDiv {
  border: 0px solid purple;
  height: 40px;
  width: 40px;
  background-color: rgb(253, 252, 252);
  margin-bottom: 5px;
  cursor: pointer;
}

.FaLink {
  width: 90%;
  height: 90%;
  margin: 1.6px;

}


.SideDivA{
  background-color: white;
}

.Footer-Div {
  color:rgb(8, 8, 8);
  background-color:rgb(36, 33, 33);
  height: 40px;
  margin-top: 250px;
  /* margin-bottom: -60px; */
  padding: 5px;
  border: 1px solid black;
  /* width: 100%; */

}

.Footer-Text {
  background-color: white;
  text-align: center;
  justify-content: "center";
  margin-top: 0px;
  
}
.Copy-Right{
  background-color: white;
}

.Footer-Text-2 {
  background-color: white;
  text-align: center;
  justify-content: "center";
  /* margin-top: -10px; */
  margin-top: 0px;
}

.Copy-Right{
  text-align: center;
  justify-content: "center";
}

.H-Main-Text {
  margin-top: -0.2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(250, 248, 248);
  font-family: 'Aldrich', sans-serif;
}

.Intro-Div{
  display: inline-block;
  margin-top: -400px;
  width: 320px;
  height: 50px;
  margin-left: 0rem;
  padding: 5px;
  background-color: rgb(250, 248, 248);
}

/* PROJECTS CSS STYLE-SHEET */


.Div2Projects{
  border: 1px solid black;
  background-color: white;
  display: grid;
  /* margin-right: 0.2rem; */
  /* background-color: rgb(233, 187, 96); */
  /* border: 0px solid white; */
  max-width: 1200px;
  /* margin-top: 10rem; */
  /* margin-left: 0.2rem; */
  height: 848px;
  margin: auto;
}

.Portfolio-Div{
  display: grid;
  border: 2px solid white;
  width: 95%;
  height: 99%;
  background-color: white;
  margin: auto;

}

.Portfolio-1 {
  display: inline-grid;
  width: 300px;
  height: 250px;
  border: 2px solid black;
  background-color: white;
  margin-top: 8rem;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 5px;
  
}

.Port-Title-1{
  border: 2px solid purple;
  width: 95%;
  height: 27px;
  background-color: rgb(163, 146, 121);
  margin: 0 auto;
  margin-bottom: -5px;
  text-align: center;
  

}

.Portfolio-Image-1{
  border: 2px solid rgb(11, 67, 221);
  background-color: rgb(58, 199, 16);
  width: 95%;
  height: 170px;
  /* margin-top: 20px; */
  margin: 0 auto;

}

.Pro-1, .Pro-2{
  height: 170px;
  width: 100%
}
  .Click-Portfolio-1{
    border: 2px solid yellow;
    background-image: rgb(31, 31, 32);
    width: 95%;
    margin: 0 auto;
    margin-bottom: -10px;
    margin-top: -5px;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }
.Portfolio-2 {
  display: inline-grid;
  /* grid-column: auto; */
  width: 300px;
  height: 250px;
  border: 2px solid black;
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 5px;
}

.Port-Title-2{
  border: 2px solid purple;
  width: 95%;
  height: 27px;
  background-color: rgb(163, 146, 121);
  margin: 0 auto;
  margin-bottom: -5px;
  text-align: center;

}

.Portfolio-Image-2{
  border: 2px solid rgb(11, 67, 221);
  background-color: rgb(58, 199, 16);
  width: 95%;
  height: 170px;
  /* margin-top: 20px; */
  margin: 0 auto;

}
  .Click-Portfolio-2{
    border: 2px solid yellow;
    background-image: rgb(31, 31, 32);
    width: 95%;
    margin: 0 auto;
    margin-bottom: -10px;
    margin-top: -5px;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }

  .Click-Text-2, .Click-Text-1{
    margin-left: 2rem;
  }


  .Pro-Footer-Div{
    border: 2px solid white;
    height: 40px;
    background-color: white;
    padding: 1px;
    margin-top: 7rem;
  }

  .Pro-Footer-Text {
    background-color: white;
    text-align: center;
    justify-content: "center";
    margin-top: 0px;
    margin-bottom: 2px;
    height: 15px;
    width: 
  }

  .Pro-Footer-Text-2 {
    background-color: white;
    text-align: center;
    justify-content: "center";
    margin-top: 0px;
    height: 30px;
    font-size: 0.95rem;
  }


/* SKILLS CSS STYLE-SHEET */

.Div2Skills{
  border: 2px solid black;
  background-color: rgb(43, 43, 185);
  display: grid;
  /* margin-right: 0.2rem; */
  /* background-color: rgb(233, 187, 96); */
  border: 0px solid white;
  max-width: 1200px;
  /* margin-top: 10rem; */
  /* margin-left: 0.2rem; */
  height: 845px;
  margin: auto;
}




/* CONTACT CSS STYLE-SHEET */

.Div2Contact {
  border: 2px solid black;
  background-color: rgb(214, 24, 231);
  display: grid;
  /* margin-right: 0.2rem; */
  /* background-color: rgb(233, 187, 96); */
  border: 0px solid white;
  max-width: 1200px;
  /* margin-top: 10rem; */
  /* margin-left: 0.2rem; */
  height: 845px;
  margin: auto;
  
}





/* ABOUT CSS STYLE-SHEET */

.Div2About {
  border: 2px solid black;
  background-color: rgb(58, 199, 16);
  display: grid;
  /* margin-right: 0.2rem; */
  /* background-color: rgb(233, 187, 96); */
  border: 0px solid white;
  max-width: 1200px;
  /* margin-top: 10rem; */
  /* margin-left: 0.2rem; */
  height: 845px;
  margin: auto;
}